
.house-relative{
	position: relative;

}

.house-relative__wall{
	
	position: relative;
    height: 400px;
    width: 500px;
    border: 3px solid #000;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdnOu7oypHmJeLY9U-wS1-6ZPHGVIoS4vuUAh8ogXeR7r6P5vReQ);
    margin: 0 20px;
}

.house-relative__roof{
	position: relative;
    height: 0;
    width: 240px;
    border-bottom: 200px solid #492A07;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    margin: 0 5px;
}

.house-relative__wall__first-window{
	position: relative;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: 60px 0 20px 20px;}


.house-relative__wall__second-window{
	position: relative;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: -175px 0 0 350px;
}
.house-relative__wall__door{
	position: relative;
	width: 110px;
	height: 220px;
	border: 2px solid #000;
	background: url(https://d10frqznkjv786.cloudfront.net/2014/04/30/373340/83489/door_texture_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_963794_o.jpg);
	background-size: 110px 220px;
	margin: -35px 0 0 180px;
}


.house-absolute{
	position:absolute;
}

.house-absolute__wall{
	position: absolute;
	height: 400px;
    width: 500px;
    border: 3px solid #000;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdnOu7oypHmJeLY9U-wS1-6ZPHGVIoS4vuUAh8ogXeR7r6P5vReQ);
    margin: 350px 20px;
    
}

.house-absolute__roof{
	position: absolute;
    height: 0;
    width: 240px;
    border-bottom: 200px solid #492A07;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    margin: 150px 0 0 0 ;
}

.house-absolute__wall__first-window{
	position: absolute;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: 60px 0 20px 20px;
}

.house-absolute__wall__second-window{
	position: absolute;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: 60px 0 0 350px;
}
.house-absolute__wall__door{
	position: absolute;
	width: 110px;
	height: 220px;
	border: 2px solid #000;
	background: url(https://d10frqznkjv786.cloudfront.net/2014/04/30/373340/83489/door_texture_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_963794_o.jpg);
	background-size: 110px 220px;
	margin: 180px 0 0 180px;
}



.house-fixed{
	position: relative;

}
.house-fixed__roof{
    position: fixed;
    height: 0;
    width: 240px;
    border-bottom: 200px solid #492A07;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    margin: 50px 0 0 890px;

}
.house-fixed__wall{
	position: fixed;
	height: 400px;
    width: 500px;
    border: 3px solid #000;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdnOu7oypHmJeLY9U-wS1-6ZPHGVIoS4vuUAh8ogXeR7r6P5vReQ);
    margin: 250px 0 0 900px;
}

.house-fixed__wall__first-window{
	position: fixed;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: 60px 0 0 30px;
}

.house-fixed__wall__second-window{
	position: fixed;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: 60px 0 0 350px;
}
.house-fixed__wall__door{
	position: fixed;
	width: 110px;
	height: 220px;
	border: 2px solid #000;
	background: url(https://d10frqznkjv786.cloudfront.net/2014/04/30/373340/83489/door_texture_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_963794_o.jpg);
	background-size: 110px 220px;
	margin: 180px 0 0 180px;
}


.house-static{
	position: static;

}

.house-static__wall{
	
	position: static;
	height: 400px;
    width: 500px;
    border: 3px solid #000;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdnOu7oypHmJeLY9U-wS1-6ZPHGVIoS4vuUAh8ogXeR7r6P5vReQ);
    margin: 0 20px;
    }

.house-static__roof{
	position: static;
    height: 0;
    width: 240px;
    border-bottom: 200px solid #492A07;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    margin: 890px 0 0 0;}

.house-static__wall__first-window{
	position: static;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: 60px 0 20px 30px;
}

.house-static__wall__second-window{
	position: static;
	width: 120px;
	height: 150px;
	border: 2px solid #2a167d;
	background: url(http://map.3dmodelfree.com/imguploads/Image/08new/06/map/9/11/1.jpg);
	background-size: 120px 150px;
	margin: -170px 0 0 340px;
}


.house-static__wall__door{
	position: static;
	width: 110px;
	height: 220px;
	border: 2px solid #000;
	background: url(https://d10frqznkjv786.cloudfront.net/2014/04/30/373340/83489/door_texture_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_963794_o.jpg);
	background-size: 110px 220px;
	margin: -40px 0 0 180px;
}


